<h1>Edit Task</h1>


<%= form_with model: @task, class: "edit-form", local: true do |form| %>
  <div>
    <%= form.label 'リスト' %>
    <%= form.text_field :title, class: 'text-field' %>
  </div>
  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>
  
  <div>
    <%= form.submit 'Save Task', class: 'save-button' %>
    <%= link_to 'Back to List', tasks_path, class: 'back-button' %>
  </div>
<% end %>
