<h1 class="app-title">ToDo App</h1>
<%= form_with model: Task.new, class: "task-form", local: true do |form| %>
  <div>
    <%= form.label 'リスト' %>
    <%= form.text_field :title, class: 'text-field' %>
  </div>
  
  <div>
    <%= form.submit 'Add Task', class: 'add-button' %>
  </div>
<% end %>

<h2>未完了タスク (<%= @incomplete_tasks.count %>)個</h2>
<ul>
  <% @incomplete_tasks.each do |task| %>
    <li class="task-item">
      <%= form_with(model: task, class: "task-update-form", local: true, method: :patch) do |form| %>
      <%= form.check_box :completed, task.completed ? {checked: true} : {}, 'true', 'false' %>
      <%= form.label :completed, task.title, class: task.completed ? 'completed' : '' %>
      <%= form.submit 'Update Task', class: 'update-button' %>
      <% end %>
      <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
    </li>
  <% end %>
</ul>

<h2>完了済み</h2>
<ul>
  <% @completed_tasks.each do |task| %>
    <li class="task-item">
      <%= form_with(model: task, class: "task-update-form", local: true, method: :patch) do |form| %>
      <%= form.check_box :completed, task.completed ? {checked: true} : {}, 'true', 'false' %>
      <%= form.label :completed, task.title, class: task.completed ? 'completed' : '' %>
      <%= form.submit 'Update Task', class: 'update-button' %>
      <% end %>
      <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
    </li>
  <% end %>
</ul>


