<h1 class="app-title">ToDo App</h1>
<%= form_with model: Task.new, class: "task-form", local: true do |form| %>
  <div>
    <%= form.label 'リスト' %>
    <%= form.text_field :title, class: 'text-field' %>
  </div>
  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>
  
  <div>
    <%= form.submit 'Add Task', class: 'add-button' %>
  </div>
<% end %>




<%= month_calendar do |date| %>
  <% day_class = if date.wday == 0 || Holidays.on(date, :jp).any?
                 'holiday'
               elsif date.wday == 6
                 'saturday'
               else
                 ''
               end %>

<div class="<%= day_class %>">
  <%= date.strftime("%-m/%-d") %>
  <!-- ... -->
</div>

  <% tasks = @tasks_by_date[date] %>
  <% if tasks %>
    <div class="task-count">
      <%= tasks.count %> 件のタスク
    </div>
  <% end %>
<% end %>
<% if @incomplete_tasks.count > 0%>
<h2>未完了タスク (<%= @incomplete_tasks.count %>)件</h2>
<%else%>
<h2>現在登録されているタスクはありません</h2>
<% end %>
<ul>
  <% @incomplete_tasks.each do |task| %>
    <li class="task-item">
      <%= form_with(model: task, class: "task-update-form", local: true, method: :patch) do |form| %>
      <%= form.check_box :completed, task.completed ? {checked: true} : {}, 'true', 'false' %>
      <%= form.label :completed, task.title, class: task.completed ? 'completed' : '' %>
      <%= form.submit 'Update Task', class: 'update-button' %>
      <%= link_to 'Edit', edit_task_path(task), class: 'edit-button' %>
      <% end %>
      <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
      <span style="<%= 'color: red;' if task.due_date == Date.today %>">期限: <%= task.due_date %></span>
    </li>
  <% end %>
</ul>
<% if @completed_tasks.count > 0%>
<h2>完了済み</h2>
<% end %>
<ul>

<ul>
  <% @completed_tasks.each do |task| %>
    <li class="task-item">
      <%= form_with(model: task, class: "task-update-form", local: true, method: :patch) do |form| %>
      <%= form.check_box :completed, task.completed ? {checked: true} : {}, 'true', 'false' %>
      <%= form.label :completed, task.title, class: task.completed ? 'completed' : '' %>
      <%= form.submit 'Update Task', class: 'update-button' %>
      <% end %>
      <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
    </li>
  <% end %>
</ul>


